body {
  overflow-x: hidden;
  font-family: m;
}

/* Homepage */
.main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.horizontal-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  white-space: nowrap;
}

.vertical-sections {
  position: relative;
  width: 100%;
}

/* SectionTwo */
.loop span {
  animation: loop 10s linear infinite;
  display: inline-block;
  padding-left: 110%;
}

.loop2 span {
  animation-delay: 5s;
}

@keyframes loop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.animate-text span {
  animation: loop 10s linear infinite;
  display: inline-block;
}

.side-bar div {
  transform: rotate(-90deg);
}
